/* Cadastro */
.cadastro {
  padding: 1vh 1vw 1.5vh 1vw;
}

.form-control{
  border-color: #0E426C;
  border-radius: 50px;
}

.cadastro .btn{
  background-color: #0E426C; 
  color: white;
  border-radius: 50px;
  margin-top: 1vh;
  transition: all 0.3s ease;
}

.cadastro .btn:hover{
  background-color: #13558b;
  color: white;
  transform: scale(1.1);
}

.erro {
    color: red; 
    display: none;
    font-size: .8rem;
}

.h1 {
  font-weight: bold;
}